.playlist {
  width: 400px;
  height: 600px;
  background-color: #0b192c;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlist input {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin-top: 20px;
  width: 90%;
  height: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  caret-color: #fff;
  border-bottom: 1px solid #f5f5f5;
}

.playlist-track {
  width: 90%;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f5f5f5;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 10px;
}

.info h3 {
  color: #fff;
  font-size: 16px;
}

.info p {
  color: #b5c0d0;
  font-size: 11px;
}

.remove-button {
  background: none;
  border: none;
  color: #fff;
  margin-right: 5px;
  font-size: 20px;
}

.save-button {
  margin: 15px;
  padding: 7px 15px;
  border-radius: 10px;
  width: 130px;
  height: 35px;
  border-style: none;
  background-color: #7e60bf;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bolder;
  text-wrap: nowrap;
  opacity: 0.8;
}

.playlist .save-button:active {
  background-color: #433878;
}
